/* Genel stiller */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    padding: 15px;
}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
}

.navbar ul li a.active {
    background-color: #4CAF50;
}

h1, h2, p {
    text-align: center;
    color: #333;
}

.project-gallery {
    text-align: center; /* Görseli yatayda ortalar */
}

.project-gallery.index-only img {
    width: 400px;
    height: auto;
}

}

/* Diğer sayfalardaki proje görselleri */
.project-gallery img {
    width: 200px;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #ffffff;
    font-size: 14px;
}
